<div class="col-xs-12">
  A simple app to help you remember the actor's name in a couple movies. As soon as I can find a good open API option,
  there will be implementation to find a movie based off actor's in it. Currently limited by the information from OMDBApi in that not all actors are populated and IMDB does not allow scraping,
  otherwise that would be the best option.
</div>
<div class="col-xs-12">
  <h2> Technologies Used:</h2>
  <ul class="list-group">
    <li class="list-group-item">Angular 2 (via Angular CLI for ease of scaffolding)</li>
    <li class="list-group-item">Bootstrap CSS/JavaScript for easier design.</li>
    <li class="list-group-item">OMDBApi for search results</li>
    <li class="list-group-item">Ngrx and Rxjs for Stores and Observables</li>
  </ul>

</div>
<div class="col-xs-12 text-center">
  Feel free to check out the source code <a href="https://github.com/miketruax/whoWasIt" target="_blank">here</a>
</div>

