<div class="col-xs-12">
  <h1 class="text-center">Who Was It?</h1>
  A simple app to help you remember the actor's name in a couple movies. Soon there will be implementation to find a movie based off
  actor's in it.
</div>
<div class="col-xs-12">
  <h2> Technologies Used:</h2>
  <ul class="list-group">
    <li class="list-group-item">Angular 2 (via Angular CLI for ease of scaffolding)</li>
    <li class="list-group-item">Bootstrap CSS/JavaScript for easier design.</li>
    <li class="list-group-item">OMDBApi for search results</li>
    <li class="list-group-item">jQuery for easier AJAX calls</li>
  </ul>

</div>
<div class="col-xs-12 text-center">
  Feel free to check out the source code <a href="https://github.com/miketruax/whoWasIt" target="_blank">here</a>
</div>

