input {
  height: 46px;
  border: none;
  outline: 0;
  border-bottom: 4px solid #e4e4e4;
  padding:0;
}
.add-remove{
  height: 46px;
  span{
    margin-top: 16px;
  }
}

.buttons{
  margin-top: 10px !important;
}
